body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0%;
    width: 100%;
    background-color: #37474f;
    justify-content: center;
    position: fixed;
}

#titulo {
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

aside {
    font-family: monospace;
    font-size: 14px;
    top: 15%;
    left: 330px;
    right: 50px;
}

article {
    font-family: monospace;
    font-size: 14px;
    top: 33%;
    left: 330px;
    right: 50px;
}

#listas {
    display: inline-block;
}

#licoes_aprendidas {
    font-family: monospace;
    font-size: 14px;
    top: 60%;
    left: 330px;
    right: 50px;
}

#licoes_a_aprender {
    font-family: monospace;
    font-size: 14px;
    top: 60%;
    left: 800px;
    right: 50px;
}

.sobre-mim:hover, .github:hover, .linkedin:hover, .trybe:hover {
    text-decoration: dotted;
    font-size: 16px;
    font-weight: bold;
}

.trybe {
    text-decoration: none;
    color: black;
  }

.sobre-mim, .github, .linkedin {
        text-decoration: none;
        color: black;
  }